@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  font-family: "Inter", sans-serif;
}

.buttonTheme {
  background: #f9d783;
  border-radius: 20px;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.buttonTheme i {
  margin: 5px;
  font-size: 12px;
}
.buttonTheme:hover {
  background: #191919;
  border-color: #191919;
  color: white;
  transition: color 0.3s, background 0.3s;
}
.buttonTheme:hover i {
  color: #fff;
  transition: 0.3s;
}

.blackButton {
  background: #191919;
  border-radius: 20px;
  border-color: #191919;
  color: #fff;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.blackButton i {
  color: #fff;
  margin: 5px;
}
.blackButton:hover {
  background: #fff;
  color: #191919;
  border: solid #191919 1px;
  transition: color 0.3s, background 0.3s;
}
.blackButton:hover i {
  color: #191919;
  transition: 0.3s;
}

.transparentButton {
  background: transparent;
  border-radius: 20px;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
@media (min-width: 992px) {
  .transparentButton {
    margin-bottom: 150px;
  }
}
.transparentButton i {
  color: #191919;
}
.transparentButton:hover {
  background: #191919;
  color: #fff;
  transition: color 0.3s, background 0.3s;
}
.transparentButton:hover i {
  color: #fff;
  transition: 0.3s;
}

.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 30px;
  font-weight: 500;
}
@media (min-width: 992px) {
  .sectionTitle {
    padding-left: 60px;
  }
}
.sectionTitle p {
  color: #f94d1c;
  font-size: 16px;
  font-weight: 500;
}
@media (min-width: 992px) {
  .sectionTitle p {
    font-size: 18px;
    margin-top: 0;
  }
}
.sectionTitle h2 {
  font-size: 30px;
  font-weight: 700;
}
@media (min-width: 992px) {
  .sectionTitle h2 {
    font-size: 35px;
  }
}
@media (min-width: 1400px) {
  .sectionTitle h2 {
    font-size: 45px;
  }
}

.sectionTitleWithButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 992px) {
  .sectionTitleWithButton {
    padding-left: 60px;
    align-items: start;
  }
}
.sectionTitleWithButton .btn {
  margin: 40px 0px;
}
@media (min-width: 1400px) {
  .sectionTitleWithButton .btn {
    margin-right: 25px;
  }
}
@media (min-width: 992px) {
  .sectionTitleWithButton {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    margin-top: 25px;
  }
}

.sectionTitle {
  display: flex;
  align-items: center;
}
@media (min-width: 992px) {
  .sectionTitle {
    padding-left: 60px;
    align-items: start;
  }
}
.sectionTitle .btn {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .sectionTitle .btn {
    margin-right: 25px;
    margin-top: 55px;
  }
}
@media (min-width: 1400px) {
  .sectionTitle .btn {
    margin-right: 25px;
  }
}

.section {
  padding-top: 50px;
}
@media (min-width: 992px) {
  .section {
    padding-top: 70px;
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 90px;
  }
}

h1,
h2,
h3,
h6 {
  font-family: DM Sans, Arial, Helvetica, sans-serif;
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  background: #f0efe9;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo menuBar";
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo contactInformation socialMedia" "logo mainMenu mainMenu";
  }
}
header .container .contactContentBox {
  padding-right: 30px;
  margin-right: 30px;
  border-right: solid #dad9d3 1px;
  font-family: "inter", sans-serif;
  font-size: 15px;
  font-weight: 300;
}
header .container .contactContentBox i {
  margin-right: 5px;
  font-size: 1.2em;
}
header .container .contactContentBox.destination {
  border: none;
}
header .container .menuBar {
  font-size: 25px;
  border: none;
  background: transparent;
}
@media (min-width: 992px) {
  header .container .menuBar {
    display: none;
  }
}
header .container .logotype {
  grid-area: logo;
  margin-right: 70px;
}
@media (min-width: 992px) {
  header .container .logotype {
    display: block;
  }
}
header .container .contactInformation {
  display: none;
  grid-area: contactInformation;
  justify-content: flex-start;
  align-items: center;
}
@media (min-width: 1200px) {
  header .container .contactInformation {
    display: flex;
  }
}
header .container .socialMedia {
  display: none;
  grid-area: socialMedia;
}
@media (min-width: 992px) {
  header .container .socialMedia {
    display: block;
  }
}
header .container .socialMedia a {
  color: #191919;
  font-size: 1.3rem;
  margin-left: 10px;
  text-decoration: none;
}
header .container .socialMedia i:hover {
  color: #7c7c7c;
}
header .container .mainMenu {
  display: none;
  grid-area: mainMenu;
}
@media (min-width: 992px) {
  header .container .mainMenu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 10px;
  }
}
@media (min-width: 1200px) {
  header .container .mainMenu {
    border-top: solid #dad9d3 1px;
  }
}
header .container .mainMenu nav {
  display: none;
}
@media (min-width: 992px) {
  header .container .mainMenu nav {
    display: block;
  }
}
header .container .mainMenu nav a {
  display: none;
  color: #191919;
  text-decoration: none;
}
@media (min-width: 992px) {
  header .container .mainMenu nav a {
    display: inline-block;
    color: #191919;
    text-decoration: none;
    margin-right: 25px;
    position: relative;
    font-size: 16px;
    padding-top: 15px;
  }
  header .container .mainMenu nav a .active {
    font-weight: 500;
  }
  header .container .mainMenu nav a.active::after, header .container .mainMenu nav a:hover::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 15px;
    background: #191919;
    left: 50%;
    bottom: -3px;
    transform: translate(calc(50% - 15px));
    font-weight: 500;
  }
}
header .container .mainMenu .loginButton {
  width: 122px;
  height: 48px;
}

.showcase {
  background-color: #f0efe9;
}
@media (min-width: 1200px) {
  .showcase {
    position: relative;
    z-index: 0;
  }
}
.showcase .backgroundLine {
  display: none;
}
@media (min-width: 1200px) {
  .showcase .backgroundLine {
    display: block;
    position: absolute;
    bottom: 0px;
    z-index: -1;
  }
}
.showcase .container .showcaseContent {
  display: flex;
}
.showcase .container .showcaseContent .headerAndText h1 {
  font-size: 50px;
  font-weight: 700;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .showcase .container .showcaseContent .headerAndText h1 {
    font-size: 76px;
    margin-top: 100px;
  }
}
@media (min-width: 1400px) {
  .showcase .container .showcaseContent .headerAndText h1 {
    font-size: 86px;
  }
}
.showcase .container .showcaseContent .headerAndText p {
  margin-top: 20px;
  margin-bottom: 30px;
}
.showcase .container .showcaseContent .headerAndText .buttonTheme,
.showcase .container .showcaseContent .headerAndText .learnMoreBtn {
  width: 200px;
  display: flex;
  justify-content: center;
  margin: 30px auto;
}
@media (min-width: 765px) {
  .showcase .container .showcaseContent .headerAndText .buttonTheme,
  .showcase .container .showcaseContent .headerAndText .learnMoreBtn {
    display: inline-flex;
    margin: 20px;
    margin-bottom: 40px;
  }
}
.showcase .container .showcaseContent .showcaseImg {
  display: none;
}
@media (min-width: 1400px) {
  .showcase .container .showcaseContent .showcaseImg {
    display: inline-block;
    margin-right: -50px;
  }
}

.companySection .container {
  display: flex;
  justify-content: center;
}
.companySection .container .companies {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.companySection .container .companies img {
  max-width: 40%;
}
@media (min-width: 992px) {
  .companySection .container .companies {
    width: 80%;
  }
}
@media (min-width: 1200px) {
  .companySection .container .companies {
    flex-wrap: nowrap;
    width: 80%;
  }
}

.featuresSection {
  padding-top: 30px;
}
@media (min-width: 595px) {
  .featuresSection .container {
    border: solid #dad9d3 1px;
  }
}
@media (min-width: 992px) {
  .featuresSection .container {
    display: flex;
    padding: 25px;
  }
}
@media (min-width: 1200px) {
  .featuresSection .container {
    padding: 55px;
  }
}
@media (min-width: 992px) {
  .featuresSection .container .sectionTitle {
    width: 45%;
    padding-left: 50px;
    text-align: start;
  }
}
@media (min-width: 1200px) {
  .featuresSection .container .sectionTitle {
    width: 50%;
  }
}
@media (min-width: 1400px) {
  .featuresSection .container .sectionTitle {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .featuresSection .container .sectionTitle h2 {
    margin-bottom: 50px;
  }
}
@media (min-width: 1400px) {
  .featuresSection .container .sectionTitle h2 {
    margin-bottom: 30px;
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  .featuresSection .container .sectionTitle .centerButton {
    width: 95%;
  }
}
.featuresSection .container .sectionTitle .centerButton .buttonTheme {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
@media (min-width: 992px) {
  .featuresSection .container .sectionTitle .centerButton .buttonTheme {
    width: 100%;
  }
}
.featuresSection .container .contentBox2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  text-align: center;
  margin-top: 30px;
}
@media (min-width: 992px) {
  .featuresSection .container .contentBox2 {
    text-align: start;
    padding: 0;
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .featuresSection .container .contentBox2 {
    margin-right: -80px;
  }
}
@media (min-width: 1400px) {
  .featuresSection .container .contentBox2 {
    margin-right: -80px;
  }
}
.featuresSection .container .contentBox2 .box1,
.featuresSection .container .contentBox2 .box2,
.featuresSection .container .contentBox2 .box3,
.featuresSection .container .contentBox2 .box4 {
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .featuresSection .container .contentBox2 .box1,
  .featuresSection .container .contentBox2 .box2,
  .featuresSection .container .contentBox2 .box3,
  .featuresSection .container .contentBox2 .box4 {
    margin-top: 15px;
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .featuresSection .container .contentBox2 .box1,
  .featuresSection .container .contentBox2 .box2,
  .featuresSection .container .contentBox2 .box3,
  .featuresSection .container .contentBox2 .box4 {
    width: 270px;
  }
}
@media (min-width: 1400px) {
  .featuresSection .container .contentBox2 .box1,
  .featuresSection .container .contentBox2 .box2,
  .featuresSection .container .contentBox2 .box3,
  .featuresSection .container .contentBox2 .box4 {
    width: 250px;
    padding: 0;
    margin: 0;
    margin-left: 30px;
    margin-top: 55px;
  }
}
.featuresSection .container .contentBox2 .box1 i,
.featuresSection .container .contentBox2 .box2 i,
.featuresSection .container .contentBox2 .box3 i,
.featuresSection .container .contentBox2 .box4 i {
  font-size: 20px;
}
@media (min-width: 992px) {
  .featuresSection .container .contentBox2 .box1 i,
  .featuresSection .container .contentBox2 .box2 i,
  .featuresSection .container .contentBox2 .box3 i,
  .featuresSection .container .contentBox2 .box4 i {
    font-size: 22px;
  }
}
.featuresSection .container .contentBox2 .box1 .header,
.featuresSection .container .contentBox2 .box2 .header,
.featuresSection .container .contentBox2 .box3 .header,
.featuresSection .container .contentBox2 .box4 .header {
  font-weight: 700;
}
@media (min-width: 992px) {
  .featuresSection .container .contentBox2 .box1 .header,
  .featuresSection .container .contentBox2 .box2 .header,
  .featuresSection .container .contentBox2 .box3 .header,
  .featuresSection .container .contentBox2 .box4 .header {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  .featuresSection .container .contentBox2 .box1 .header,
  .featuresSection .container .contentBox2 .box2 .header,
  .featuresSection .container .contentBox2 .box3 .header,
  .featuresSection .container .contentBox2 .box4 .header {
    font-size: 22px;
  }
}
.featuresSection .container .contentBox2 .box1 p,
.featuresSection .container .contentBox2 .box2 p,
.featuresSection .container .contentBox2 .box3 p,
.featuresSection .container .contentBox2 .box4 p {
  margin-right: 12px;
  color: RGBA(25, 25, 25, 0.7);
}

.aboutCompanySection .container {
  text-align: center;
  margin-top: 50px;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo {
    text-align: start;
    margin-left: 20px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo {
    margin-left: 80px;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .sectionTitle {
  padding: 0;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .sectionTitle {
    text-align: start;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .sectionTitle h2 {
    width: 532px;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .aboutCompanyText p {
  padding-top: 20px;
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo {
    flex-direction: row;
    justify-content: start;
    margin-top: 50px;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .buttonTheme,
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .blackbutton {
  margin: 20px;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .buttonTheme,
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .blackbutton {
    width: 160px;
    margin-right: 60px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .buttonTheme,
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .blackbutton {
    width: 180px;
    height: 56px;
    text-align: center;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}
@media (min-width: 769px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo:hover {
    background: #f9d783;
    border-radius: 20px;
    transition: background 0.3s;
  }
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 5px;
  }
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo .playButton i {
  border: solid #191919 1px;
  font-size: 10px;
  border-radius: 50%;
  padding: 15px;
  margin-right: 5px;
}
.aboutCompanySection .container .aboutCompany .aboutCompanyInfo .buttonAndVideo .playBtnAndIntroVideo .introVideo {
  text-decoration: none;
  color: #191919;
}
.aboutCompanySection .container .aboutCompany .founder {
  position: relative;
  margin-bottom: 20px;
}
.aboutCompanySection .container .aboutCompany .founder img {
  display: none;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder img {
    display: block;
    width: 300px;
    margin-right: 70px;
    margin-left: 90px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .founder img {
    height: 615px;
    width: auto;
  }
}
.aboutCompanySection .container .aboutCompany .founder .founderInfo {
  display: none;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo {
    display: block;
    position: absolute;
    background: #beebff;
    bottom: 80px;
    left: 10px;
    padding: 20px;
    text-align: start;
    width: 270px;
    height: 120px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo {
    padding: 20px;
    text-align: start;
    width: 310px;
    height: 140px;
    bottom: 100px;
    left: 20px;
  }
}
.aboutCompanySection .container .aboutCompany .founder .founderInfo h3 {
  font-weight: 700;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo h3 {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo h3 {
    font-size: 20px;
  }
}
.aboutCompanySection .container .aboutCompany .founder .founderInfo h3 span {
  color: #f94d1c;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo h3 span {
    font-weight: 700;
  }
}
.aboutCompanySection .container .aboutCompany .founder .founderInfo p {
  display: none;
}
@media (min-width: 992px) {
  .aboutCompanySection .container .aboutCompany .founder .founderInfo p {
    display: block;
    font-size: 14px;
    padding-top: 10px;
  }
}

.ourServicesSection {
  background: #f0efe9;
  position: relative;
}
.ourServicesSection .backgroundLine {
  display: none;
}
@media (min-width: 992px) {
  .ourServicesSection .backgroundLine {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
@media (min-width: 992px) {
  .ourServicesSection .container .sectionTitle {
    padding: 20px;
    text-align: start;
    margin-left: 50px;
  }
}
@media (min-width: 1200px) {
  .ourServicesSection .container .sectionTitle {
    width: 40%;
  }
}
.ourServicesSection .container .boxesContainer {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
@media (min-width: 769px) {
  .ourServicesSection .container .boxesContainer {
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: auto;
    gap: 40px;
  }
}
@media (min-width: 992px) {
  .ourServicesSection .container .boxesContainer {
    margin-top: 20px;
    width: 70%;
  }
}
@media (min-width: 1200px) {
  .ourServicesSection .container .boxesContainer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 91%;
  }
}
.ourServicesSection .container .boxesContainer .boxes {
  background: #fff;
}
@media (min-width: 992px) {
  .ourServicesSection .container .boxesContainer .boxes {
    padding: 20px;
    margin-bottom: 50px;
  }
}
.ourServicesSection .container .boxesContainer .boxes:hover {
  background: #f9d783;
  transition: background 0.3s;
}
.ourServicesSection .container .boxesContainer .boxes:hover .blackButton {
  background: #fff;
  transition: background 0.3s;
}
.ourServicesSection .container .boxesContainer .boxes:hover .blackButton i {
  color: #191919;
}
.ourServicesSection .container .boxesContainer .boxes i {
  color: #fff;
}
.ourServicesSection .container .boxesContainer .boxes .line {
  border: solid #191919 1px;
  width: 20%;
  margin-top: 20px;
  margin-left: 3px;
}
.ourServicesSection .container .boxesContainer .boxes h3 {
  font-weight: 700;
  margin: 20px 0;
}
.ourServicesSection .container .boxesContainer .boxes .boxesButton {
  display: flex;
  justify-content: end;
}
.ourServicesSection .container .boxesContainer .boxes .boxesButton .blackButton {
  border-radius: 50%;
  padding: 10px;
  margin-right: 15px;
  margin-bottom: 20px;
}
.ourServicesSection .container .browseServices {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.ourServicesSection .container .browseServices .buttonTheme {
  margin-top: 30px;
  margin-bottom: 50px;
}
@media (min-width: 992px) {
  .whyChooseUsSection .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 992px) {
  .whyChooseUsSection .container .contentContainer {
    display: flex;
    flex-direction: column;
  }
}
.whyChooseUsSection .container .contentContainer .sectionTitle {
  font-weight: 700;
}
@media (min-width: 992px) {
  .whyChooseUsSection .container .contentContainer .sectionTitle {
    text-align: left;
    padding-top: 0;
  }
}
@media (min-width: 1400px) {
  .whyChooseUsSection .container .contentContainer .sectionTitle {
    font-size: 46px;
    width: 75%;
  }
}
.whyChooseUsSection .container .contentContainer .content {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin: 20px;
}
@media (min-width: 992px) {
  .whyChooseUsSection .container .contentContainer .content {
    justify-content: center;
    align-items: center;
    text-align: left;
    margin: 0;
    margin: 10px;
    margin-left: 25px;
  }
}
@media (min-width: 1400px) {
  .whyChooseUsSection .container .contentContainer .content {
    justify-content: start;
    margin-left: 55px;
  }
}
.whyChooseUsSection .container .contentContainer .content i {
  border: solid RGBA(25, 25, 25, 0.1) 1px;
  border-radius: 50%;
  padding: 15px;
  font-size: 20px;
}
.whyChooseUsSection .container .contentContainer .content .headerAndText {
  margin-left: 20px;
}
@media (min-width: 992px) {
  .whyChooseUsSection .container .contentContainer .content .headerAndText {
    padding: 0;
    margin-top: 10px;
  }
}
.whyChooseUsSection .container .contentContainer .content .headerAndText h3 {
  font-weight: 600;
  font-size: 18px;
}
.whyChooseUsSection .container .imgContainer {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  position: relative;
}
.whyChooseUsSection .container .imgContainer img {
  display: none;
}
@media (min-width: 992px) {
  .whyChooseUsSection .container .imgContainer img {
    display: block;
    width: 100%;
    margin-top: 20px;
    height: 350px;
    z-index: 0;
  }
}
@media (min-width: 1400px) {
  .whyChooseUsSection .container .imgContainer img {
    width: 95%;
  }
}
@media (min-width: 992px) {
  .whyChooseUsSection .container .background {
    width: 106%;
    height: 360px;
    background: #f0efe9;
    position: absolute;
    top: 155px;
    z-index: -1;
  }
}
@media (min-width: 1200px) {
  .whyChooseUsSection .container .background {
    width: 112%;
    height: 315px;
  }
}
@media (min-width: 1400px) {
  .whyChooseUsSection .container .background {
    height: 365px;
    width: 120%;
    left: -50px;
    top: 180px;
  }
}

@media (min-width: 992px) {
  .projectAndCaseSection .container .sectionTitle {
    align-items: center;
  }
}
.projectAndCaseSection .container .projectAndCases {
  display: grid;
  gap: 30px;
  grid-template-columns: 1fr;
}
@media (min-width: 768px) {
  .projectAndCaseSection .container .projectAndCases {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 768px) {
  .projectAndCaseSection .container .projectAndCases article {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
  }
}
.projectAndCaseSection .container .projectAndCases article img {
  width: 100%;
  height: auto;
}
@media (min-width: 768px) {
  .projectAndCaseSection .container .projectAndCases article img {
    height: 250px;
  }
}
@media (min-width: 992px) {
  .projectAndCaseSection .container .projectAndCases article img {
    height: 300px;
  }
}
@media (min-width: 1200px) {
  .projectAndCaseSection .container .projectAndCases article img {
    height: 350px;
  }
}
@media (min-width: 1400px) {
  .projectAndCaseSection .container .projectAndCases article img {
    width: 645px;
    height: 455px;
  }
}
.projectAndCaseSection .container .projectAndCases article h3 {
  font-weight: 700;
  font-size: 20px;
  border-bottom: solid #dad9d3 1px;
}
.projectAndCaseSection .container .projectAndCases article a {
  text-decoration: none;
  color: #191919;
  display: block;
  text-align: right;
}
.projectAndCaseSection .container .projectAndCases article a:hover {
  background: #f9d783;
  text-decoration: underline;
  transition: 0.3s;
  border-radius: 15px;
}
@media (min-width: 1400px) {
  .projectAndCaseSection .container .projectAndCases article a {
    padding: 15px;
  }
}
@media (min-width: 1400px) {
  .projectAndCaseSection .container .projectAndCases article a i {
    margin-left: 3px;
  }
}
.projectAndCaseSection .container .centerButton {
  margin-top: 45px;
  margin-bottom: 90px;
}

.meetOurTeamSection {
  background-color: #f9d783;
  padding-bottom: 30px;
}
.meetOurTeamSection .container .meetOurTeam .team .cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  text-align: center;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: left;
    margin-left: 30px;
    margin-top: 50px;
  }
}
.meetOurTeamSection .container .meetOurTeam .team .cards .card {
  margin-top: 20px;
  background-color: #f9d783;
  border: none;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card {
    align-items: start;
    margin-right: 30px;
  }
}
.meetOurTeamSection .container .meetOurTeam .team .cards .card img {
  width: 100%;
}
@media (min-width: 769px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card img {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card img {
    width: 80%;
  }
}
.meetOurTeamSection .container .meetOurTeam .team .cards .card h3 {
  font-weight: 700;
  font-size: 18px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card h3 {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card h3 {
    font-size: 22px;
  }
}
.meetOurTeamSection .container .meetOurTeam .team .cards .card p {
  font-size: 14px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card p {
    font-size: 14px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .team .cards .card p {
    font-size: 16px;
  }
}
.meetOurTeamSection .container .meetOurTeam .dots {
  display: flex;
  justify-content: center;
}
.meetOurTeamSection .container .meetOurTeam .dots .dot {
  font-size: 70px;
  color: RGBA(25, 25, 25, 0.4);
  margin-left: 5px;
  margin-bottom: 20px;
}
.meetOurTeamSection .container .meetOurTeam .dots .blackDot {
  color: #191919;
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection {
  background: #fff;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection {
    width: 960px;
    height: 800px;
  }
}
@media (min-width: 1200px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection {
    width: 1130px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection {
    width: 1320px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .sectionTitle {
  align-items: center;
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review {
  margin-bottom: 20px;
  padding: 30px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review {
    text-align: left;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .stars i {
  margin-bottom: 20px;
  color: #f94d1c;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .reviewText {
    width: 230px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user {
    justify-content: start;
    align-items: center;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user img {
  margin-right: 15px;
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user img {
    width: 80%;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
  margin: 0;
  font-weight: 700;
}
@media (min-width: 769px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
    font-size: 18px;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
    font-size: 18px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
    font-size: 20px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user h3 {
    font-size: 22px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
  color: #f94d1c;
}
@media (min-width: 769px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
    font-size: 14px;
    margin: 0;
  }
}
@media (min-width: 992px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
    font-size: 12px;
    margin: 0;
  }
}
@media (min-width: 1200px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
    font-size: 12px;
  }
}
@media (min-width: 1400px) {
  .meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .reviews .review .user p {
    font-size: 14px;
  }
}
.meetOurTeamSection .container .meetOurTeam .whatOurClientSaysSection .centerButton {
  margin-top: 40px;
  padding-bottom: 40px;
}

.articleAndNewsSection .container .articleAndNews .articles {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
@media (min-width: 769px) {
  .articleAndNewsSection .container .articleAndNews .articles {
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article {
    margin: 20px;
    margin-left: 60px;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article:hover {
  background: #f9d783;
  border-radius: 10px;
  text-decoration: underline;
}
.articleAndNewsSection .container .articleAndNews .articles .article a {
  text-decoration: none;
}
.articleAndNewsSection .container .articleAndNews .articles .article .imgContainer {
  position: relative;
  width: 100%;
}
.articleAndNewsSection .container .articleAndNews .articles .article .imgContainer img {
  width: 100%;
  z-index: -1;
}
.articleAndNewsSection .container .articleAndNews .articles .article .imgContainer p {
  text-align: center;
  padding: 0;
  margin: 0;
  width: 18%;
  padding: 2px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 0;
  background: #f9d783;
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .imgContainer p {
    width: 18%;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article .imgContainer p span {
  padding: 0;
  margin: 0;
  font-size: 22px;
  font-weight: 800;
}
.articleAndNewsSection .container .articleAndNews .articles .article .articleText {
  padding: 10px;
}
@media (min-width: 769px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText {
    text-align: left;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article .articleText .header {
  color: #6a6c71;
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText .header {
    font-size: 14px;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article .articleText h3 {
  font-weight: 700;
}
@media (min-width: 769px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText h3 {
    font-size: 20px;
  }
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText h3 {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText h3 {
    font-size: 22px;
  }
}
.articleAndNewsSection .container .articleAndNews .articles .article .articleText p {
  color: #6a6c71;
}
@media (min-width: 992px) {
  .articleAndNewsSection .container .articleAndNews .articles .article .articleText p {
    font-size: 14px;
  }
}
.articleAndNewsSection .container .articleAndNews .dots {
  display: flex;
  justify-content: center;
}
.articleAndNewsSection .container .articleAndNews .dots .dot {
  font-size: 70px;
  color: RGBA(25, 25, 25, 0.4);
  margin-left: 5px;
  margin-bottom: 20px;
}
.articleAndNewsSection .container .articleAndNews .dots .blackDot {
  color: #191919;
}

.signUpForNewsSection {
  background: #f0efe9;
  position: relative;
  padding-bottom: 90px;
}
.signUpForNewsSection .backgroundLine {
  display: none;
}
@media (min-width: 992px) {
  .signUpForNewsSection .backgroundLine {
    display: block;
    position: absolute;
    right: 0;
    bottom: 30px;
  }
}
.signUpForNewsSection .container .signUpForNews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  .signUpForNewsSection .container .signUpForNews .newsUpdateText {
    display: flex;
    gap: 70px;
  }
}
.signUpForNewsSection .container .signUpForNews .newsUpdateText h2 {
  font-weight: 700;
  margin-bottom: 30px;
}
@media (min-width: 1200px) {
  .signUpForNewsSection .container .signUpForNews .newsUpdateText h2 {
    margin-bottom: 0;
    font-size: 35px;
  }
}
.signUpForNewsSection .container .signUpForNews .newsUpdateText form .input {
  background: #fff;
  font-style: italic;
  color: RGBA(25, 25, 25, 0.5);
  border-radius: 25px;
  padding: 12px 25px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.footerSection {
  background: #0e1021;
  position: relative;
}
.footerSection .backgroundLine {
  display: none;
}
@media (min-width: 992px) {
  .footerSection .backgroundLine {
    display: block;
    position: absolute;
    right: 0;
    bottom: 90px;
  }
}
.footerSection .container .footerContent {
  display: grid;
}
@media (min-width: 1400px) {
  .footerSection .container .footerContent {
    grid-template-columns: 1fr 2fr;
    padding-bottom: 50px;
  }
}
.footerSection .container .footerContent .imageBox {
  text-align: center;
  margin-bottom: 20px;
}
@media (min-width: 1400px) {
  .footerSection .container .footerContent .imageBox {
    text-align: left;
    align-items: center;
    justify-content: start;
  }
}
.footerSection .container .footerContent .imageBox img {
  width: 40%;
  margin: 0 auto;
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .footerSection .container .footerContent .imageBox img {
    width: 20%;
  }
}
@media (min-width: 1200px) {
  .footerSection .container .footerContent .imageBox img {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .footerSection .container .footerContent .imageBox img {
    width: 60%;
  }
}
.footerSection .container .footerContent .imageBox p {
  color: white;
}
@media (min-width: 992px) {
  .footerSection .container .footerContent .imageBox p {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 30px;
  }
}
@media (min-width: 1400px) {
  .footerSection .container .footerContent .imageBox p {
    text-align: left;
    margin: 0;
  }
}
.footerSection .container .footerContent .linkContainer {
  display: grid;
  text-align: center;
}
@media (min-width: 992px) {
  .footerSection .container .footerContent .linkContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1400px) {
  .footerSection .container .footerContent .linkContainer {
    display: flex;
    justify-content: space-around;
    text-align: left;
    margin-top: 20px;
  }
}
.footerSection .container .footerContent .linkContainer .box {
  margin-bottom: 20px;
}
@media (min-width: 992px) {
  .footerSection .container .footerContent .linkContainer .box {
    margin-bottom: 40px;
  }
}
.footerSection .container .footerContent .linkContainer .box h3 {
  color: white;
  font-size: 22px;
}
@media (min-width: 1400px) {
  .footerSection .container .footerContent .linkContainer .box h3 {
    margin-bottom: 30px;
  }
}
.footerSection .container .footerContent .linkContainer .box p {
  padding: 10px;
}
@media (min-width: 1200px) {
  .footerSection .container .footerContent .linkContainer .box p {
    padding: 0;
  }
}
.footerSection .container .footerContent .linkContainer .box p a {
  color: white;
  text-decoration: none;
}
@media (min-width: 1400px) {
  .footerSection .container .footerContent .linkContainer .box p a {
    padding: 2px;
  }
  .footerSection .container .footerContent .linkContainer .box p a:hover {
    background: #f9d783;
    color: #191919;
    transition: 0.3s;
    border-radius: 5px;
  }
}
.footerSection .line {
  border: solid white 1px;
}
.footerSection .copyRightContainer .container {
  display: flex;
  justify-content: space-between;
}
.footerSection .copyRightContainer .container p {
  color: white;
}
.footerSection .copyRightContainer .container .socials i {
  color: white;
}
.footerSection .copyRightContainer .container .socials i:hover {
  cursor: pointer;
  color: #f9d783;
}

.contactSection {
  position: relative;
  background: #f0efe9;
}
.contactSection img {
  display: none;
}
@media (min-width: 1200px) {
  .contactSection img {
    display: block;
    position: absolute;
    top: 65px;
  }
}
.contactSection .container .homeConnect {
  display: flex;
  justify-content: center;
  text-align: center;
}
.contactSection .container .homeConnect p a {
  text-decoration: none;
  color: #191919;
  margin-left: 15px;
}
.contactSection .container .homeConnect p a:hover {
  text-decoration: underline;
}
.contactSection .container .homeConnect p .home {
  color: gray;
  font-weight: 300;
}
.contactSection .container .homeConnect p .connect {
  font-weight: 500;
}
.contactSection .container h1 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 40px;
}
.contactSection .container img {
  display: none;
}

.companyInfoSection .container .boxContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (min-width: 768px) {
  .companyInfoSection .container .boxContainer {
    flex-direction: row;
    justify-content: center;
    gap: 80px;
  }
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes {
    display: flex;
    justify-content: center;
    border: solid rgba(25, 25, 25, 0.2) 1px;
    padding: 20px;
    gap: 10px;
    text-align: left;
    align-items: center;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes {
    height: 206px;
    width: 420px;
  }
}
.companyInfoSection .container .boxContainer .boxes i {
  background: black;
  font-size: 14px;
  padding: 10px;
  border-radius: 50%;
  color: white;
  margin-bottom: 10px;
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes i {
    margin-right: 20px;
    font-size: 16px;
    padding: 15px;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes i {
    font-size: 22px;
    margin-bottom: 50px;
  }
}
.companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a {
  text-decoration: none;
}
.companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a p {
  padding: 0;
  margin: 0;
  color: rgba(25, 25, 25, 0.8);
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a p {
    font-size: 15px;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText a p {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText h3 {
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 700;
  }
}
@media (min-width: 1400px) {
  .companyInfoSection .container .boxContainer .boxes .boxHeaderAndText h3 {
    font-size: 22px;
  }
}

.messageUs .container {
  background: #f0efe9;
  padding: 30px;
}
@media (min-width: 1400px) {
  .messageUs .container {
    padding: 150px;
  }
}
.messageUs .container h2 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 10px;
}
@media (min-width: 992px) {
  .messageUs .container h2 {
    padding-bottom: 20px;
  }
}
@media (min-width: 1400px) {
  .messageUs .container h2 {
    font-size: 45px;
  }
}
.messageUs .container #contactForm {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 20px;
}
.messageUs .container #contactForm input,
.messageUs .container #contactForm textarea {
  border-radius: 20px;
  padding: 15px;
}
.messageUs .container #contactForm button {
  display: block;
}