//font Inter
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

//font DM Sans
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,900&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  color: #191919;
  font-family: "Inter", sans-serif;
}

.buttonTheme {
  background: #f9d783;
  border-radius: 20px;
  border: 1px solid #f9d783;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  i {
    margin: 5px;
    font-size: 12px;
  }

  &:hover {
    i {
      color: #fff;
      transition: .3s;
    }
    background: #191919;
    border-color: #191919;
    color: white;
    transition: color 0.3s, background 0.3s;
  }
}

.blackButton {
  background: #191919;
  border-radius: 20px;
  border-color: #191919;
  color: #fff;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  i {
    color: #fff;
    margin: 5px;
  }

  &:hover {
    i{
    color: #191919;
      transition: .3s
    }
    background: #fff;
    color: #191919;
    border: solid #191919 1px;
    transition: color 0.3s, background 0.3s;
  }
}

.transparentButton {
  background: transparent;
  border-radius: 20px;
  border: 1px solid #191919;
  color: #191919;
  text-decoration: none;
  padding: 12px 25px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;

  @media (min-width: 992px) {
    margin-bottom: 150px;
  }

  i {
    color: #191919;
  }

  &:hover {
    i{
    color: #fff;
      transition: .3s
    }
    background: #191919;
    color: #fff;
    transition: color 0.3s, background 0.3s;
  }
}

// Center button
.centerButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-weight: 500;

  p {
    color: #f94d1c;
    font-size: 16px;
    font-weight: 500;

    @media (min-width: 992px) {
      font-size: 18px;
      margin-top: 0;
    }
  }
  h2 {
    font-family: "DM Sans", sans-serif;
    font-size: 30px;
    font-weight: 700;

    @media (min-width: 992px) {
      font-size: 35px;
    }
    @media (min-width: 1400px) {
      font-size: 45px;
    }
  }
}

.gridWrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  background: #f0efe9;

  .container {
    display: grid;
    padding-top: 5px;
    padding-bottom: 30px;

    align-items: center;
    grid-template-columns: 1fr auto;
    grid-template-areas: "logo menuBar";

    @media (min-width: 992px) {
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
        "logo contactInformation socialMedia"
        "logo mainMenu mainMenu";
    }

    .contactContentBox {
      padding-right: 30px;
      margin-right: 30px;
      border-right: solid #dad9d3 1px;
      font-family: "inter", sans-serif;
      font-size: 15px;
      font-weight: 300;

      i {
        margin-right: 5px;
        font-size: 1.2em;
      }

      &.destination {
        border: none;
      }
    }

    .menuBar {
      font-size: 25px;
      border: none;
      background: transparent;

      @media (min-width: 992px) {
        display: none;
      }
    }

    .logotype {
      grid-area: logo;
      margin-right: 70px;

      @media (min-width: 992px) {
        display: block;
      }
    }

    .contactInformation {
      display: none;
      grid-area: contactInformation;
      justify-content: flex-start;
      align-items: center;

      @media (min-width: 1200px) {
        display: flex;
      }
    }

    .socialMedia {
      display: none;
      grid-area: socialMedia;

      @media (min-width: 992px) {
        display: block;
      }

      a {
        color: #191919;
        font-size: 1.3rem;
        margin-left: 10px;
        text-decoration: none;
      }

      i {
        &:hover {
          color: #7c7c7c;
        }
      }
    }

    .mainMenu {
      display: none;
      grid-area: mainMenu;

      @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding-top: 10px;
      }
      @media (min-width: 1200px) {
        border-top: solid #dad9d3 1px;
      }

      nav {
        display: none;
        @media (min-width: 992px) {
          display: block;
        }
        a {
          display: none;
          color: #191919;
          text-decoration: none;

          @media (min-width: 992px) {
            display: inline-block;
            color: #191919;
            text-decoration: none;
            margin-right: 25px;
            position: relative;
            font-size: 16px;
            font-weight: 500;

            .active {
              font-weight: 500;
            }

            &.active::after,
            &:hover::after {
              content: "";
              position: absolute;
              height: 2px;
              width: 15px;
              background: #191919;
              left: 50%;
              bottom: -3px;
              transform: translate(calc(50% - 15px));
              font-weight: 500;
            }
          }
        }
      }
      .loginButton {
        width: 122px;
        height: 48px;
      }
    }
  }
}

.showcase {
  background-color: #f0efe9;
  .container {
    .showcaseContent {
      display: flex;

      .headerAndText {
        h1 {
          font-size: 50px;
          font-weight: 700;
          margin-top: 30px;
          font-family: "DM Sans", sans-serif;

          @media (min-width: 992px) {
            font-size: 76px;
            margin-top: 100px;
          }
          @media (min-width: 1400px) {
            font-size: 86px;
          }
        }
        p {
          margin-top: 20px;
          margin-bottom: 30px;
          font-family: "DM Sand", sans-serif;
        }
        .buttonTheme,
        .learnMoreBtn {
          width: 200px;
          display: flex;
          justify-content: center;
          margin: 30px auto;

          @media (min-width: 765px) {
            display: inline-flex;
            margin: 20px;
            margin-bottom: 40px;
          }
        }
      }
      .showcaseImg {
        display: none;

        @media (min-width: 1400px) {
          display: inline-block;
          margin-right: -50px;
        }
      }
    }
  }
}

.companySection {
  @media (min-width: 1400px) {
    padding-top: 120px;
    padding-bottom: 90px;
  }

  .container {
    display: flex;
    justify-content: center;

    .companies {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      img {
        max-width: 50%;
      }

      @media (min-width: 992px) {
        width: 80%;
      }
      @media (min-width: 1400px) {
        width: 100%;
        margin-left: 30px;
      }
    }
  }
}

.featuresSection {
  .container {
    @media (min-width: 595px) {
      margin-top: 30px;
      border: solid #dad9d3 1px;
    }

    @media (min-width: 992px) {
      display: flex;
      padding: 25px;
    }

    .sectionTitle {

      @media (min-width: 992px) {
        padding-left: 50px;
        text-align: start;
      }

      h2 {
        @media (min-width: 1400px) {
          font-size: 50px;
        }
      }

      .centerButton {
        @media (min-width: 992px) {
          width: 95%;
        }

        .buttonTheme {
          display: flex;
          justify-content: center;
          margin-top: 20px;

          @media (min-width: 992px) {
            width: 100%;
          }
        }
      }
    }

    .contentBox2 {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;
      text-align: center;
      margin-top: 30px;

      @media (min-width: 992px) {
        text-align: start;
      }

      .box1,
      .box2,
      .box3,
      .box4 {
        margin-bottom: 30px;

        @media (min-width: 992px) {
          margin-top: 15px;
        }
        @media (min-width: 1400px) {
          width: 307px;
          padding: 0;
          margin: 0;
          margin-left: 40px;
          margin-top: 70px;
        }

        i {
          font-size: 20px;

          @media (min-width: 992px) {
            font-size: 22px;
          }
        }

        .header {
          font-weight: 700;
          font-family: "DM Sans", sans-serif;

          @media (min-width: 992px) {
            font-size: 18px;
          }

          @media (min-width: 1400px) {
            font-size: 22px;
          }
        }

        p {
          margin-right: 12px;
          color: RGBA(25, 25, 25, 0.7);
        }
      }
    }
  }
}

.aboutCompanySection {
  .container {
    text-align: center;
    margin-top: 50px;

    @media (min-width: 1400px) {
      margin-top: 120px;
    }
    .aboutCompany {

      @media (min-width: 992px) {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 120px;
        margin-bottom: 90px;
      }

      .aboutCompanyInfo {
        @media (min-width: 992px) {
          text-align: start;
          margin-left: 20px;
        }

        @media (min-width: 1400px) {
          margin-left: 80px;
        }

        .sectionTitle {
          padding: 0;

          @media (min-width: 992px) {
            text-align: start;
          }

          h2 {
            @media (min-width: 1400px) {
              width: 532px;
            }
          }
        }

        .aboutCompanyText {
          p {
            padding-top: 20px;

            @media (min-width: 992px) {
              padding-top: 20px;
            }
            @media (min-width: 1400px) {
              width: 492px;
            }
          }
        }

        .buttonAndVideo {
          margin-bottom: 40px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media (min-width: 992px) {

            flex-direction: row;
            justify-content: start;
            margin-top: 50px;
          }

          .buttonTheme,
          .blackbutton {
            margin: 20px;

            @media (min-width: 992px) {
              width: 160px;
              margin-right: 60px;
            }

            @media (min-width: 1400px) {
              width: 180px;
              height: 56px;
              text-align: center;
            }
          }

          .playBtnAndIntroVideo {
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;

            @media (min-width: 769px) {
              &:hover {
                background: #f9d783;
                border-radius: 20px;
                transition: background 0.3s;
              }
            }

            @media (min-width: 992px) {
              display: grid;
              grid-template-columns: 1fr auto;
              padding: 5px;
            }

            .playButton {
              i {
                border: solid #191919 1px;
                font-size: 10px;
                border-radius: 50%;
                padding: 15px;
                margin-right: 5px;
              }
            }
            .introVideo {
              text-decoration: none;
              color: #191919;
            }
          }
        }
      }

      .founder {
        position: relative;
        margin-bottom: 20px;

        img {
          display: none;

          @media (min-width: 992px) {
            display: block;
            width: 300px;
            margin-right: 70px;
            margin-left: 90px;
          }

          @media (min-width: 1400px) {
            height: 615px;
            width: auto;
          }
        }
        .founderInfo {
          display: none;

          @media (min-width: 992px) {
            display: block;
            position: absolute;
            background: #beebff;
            bottom: 80px;
            left: 10px;
            padding: 20px;
            text-align: start;
            width: 270px;
            height: 120px;
          }

          @media (min-width: 1400px) {
            padding: 20px;
            text-align: start;
            width: 310px;
            height: 140px;
            bottom: 100px;
            left: 20px;
          }

          h3 {
            font-family: "DM Sans", sans-serif;
            font-weight: 700;

            @media (min-width: 992px) {
              font-size: 18px;
            }

            @media (min-width: 1400px) {
              font-size: 20px;
            }

            span {
              color: #f94d1c;

              @media (min-width: 992px) {
                font-weight: 700;
              }
            }
          }
          p {
            display: none;

            @media (min-width: 992px) {
              display: block;
              font-size: 14px;
              padding-top: 10px;
            }
          }
        }
      }
    }
  }
}

.ourServicesSection {
  background: #f0efe9;
  .container {
    .sectionTitle {

      @media (min-width: 992px) {
        padding: 20px;
        text-align: start;
        margin-left: 50px;
      }
    }
    .boxesContainer {
      display: grid;
      grid-template-columns: 1fr;
      gap: 20px;
      padding: 20px;
      justify-content: center;
      align-items: center;

      @media (min-width: 992px) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: 1400px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-left: 50px;
        gap: 20px;
      }

      .boxes {
        background: #fff;

        @media (min-width: 992px) {
          padding: 20px;
          margin-bottom: 50px;
        }

        // Hover effekt när man hovrar över boxarna
        &:hover {
          background: #f9d783;
          transition: background 0.3s;

          .blackButton {
            background: #fff;
            transition: background 0.3s;

            i {
              color: #191919;
            }
          }
        }

        i {
          color: #fff;
        }

        .line {
          border: solid #191919 1px;
          width: 20%;
          margin-top: 20px;
        }

        h3 {
          font-weight: 700;
          margin: 20px 0;
        }

        .boxesButton {
          display: flex;
          justify-content: end;

          .blackButton {
            border-radius: 50%;
            padding: 5px 10px;
            margin-right: 15px;
          }
        }
      }
    }
    .browseServices {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      
      .buttonTheme {
        margin-top: 30px;
        margin-bottom: 50px;

        @media (min-width: 992px) {
          width: 221px;
          
        }
      }
    }
  }
}

.whyChooseUsSection {
  .container {

    @media (min-width: 992px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 120px;
      padding-bottom: 90px;
    }

    .contentContainer {
      
      @media (min-width: 992px) {  
        display: flex;
        flex-direction: column;
      }

      .sectionTitle {
        font-weight: 700;
        @media (min-width: 992px) {
          text-align: left;
          margin-left: 40px;
          padding-top: 0;
        }
        @media(min-width: 1400px) {
          margin-left: 80px;
          font-size: 46px;
          width: 60%; 
        }
      }

      .content {
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 20px;

        @media (min-width: 992px) {
          justify-content: center;
          align-items: center;
          text-align: left;
          margin: 0;
        }
        @media(min-width: 1400px) {
          justify-content: start;
          margin-left: 80px
        }

        i {
          border: solid RGBA(25, 25, 25, 0.1) 1px;
          border-radius: 50%;
          padding: 15px;
          font-size: 20px;
          @media (min-width: 992px) {
          }
        }
        .headerAndText {
          margin-left: 20px;

          @media (min-width: 992px) {
            padding: 0;
            margin-top: 10px;
          }
          h3 {
            font-weight: 600;
            font-size: 18px;
          }
        }
      }
    }
    .imgContainer {
      display:grid;
      grid-template-columns: 1fr;
      padding: 20px;
      position: relative;
      
      img {
        display: none;

        @media (min-width: 992px) {
          display: block;
          width: 100%; 
          margin-top: 20px;
          height: 350px;
          z-index: 0;
        }
        @media (min-width: 1400px) {
          width: 95%;
        }
      }
    }
    .background{

      @media(min-width: 992px) {
        width: 106%;
        height: 360px;
        background: #F0EFE9;
        position: absolute;
        top: 155px;
        z-index: -1;
      }
      @media(min-width: 1200px) {
        width: 112%;
        height: 315px;
      }
      @media(min-width: 1400px) {
        height: 365px;
        width: 120%;
       left: -50px;
       top: 180px;
      }
    }
  }
}

.projectAndCaseSection {
  .container {
    .sectionTitle {
      @media (min-width: 992px) {
        align-items: center;
      }
    }

    .projectAndCases {
      display: grid;
      gap: 30px;
      grid-template-columns: 1fr;

      @media (min-width: 768px) {
        grid-template-columns: 1fr 1fr;
      }

      article {
        @media (min-width: 768px) {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: auto 1fr auto;
        }
        img {
          width: 100%;
          height: auto;

          @media (min-width: 768px) {
            height: 250px;
          }
          @media (min-width: 992px) {
            height: 300px;
          }
          @media (min-width: 1200px) {
            height: 350px;
          }

          @media (min-width: 1400px) {
            width: 645px;
            height: 455px;
          }
        }
        h3 {
          font-family: "DM Sans", sans-serif;
          font-weight: 700;
          font-size: 20px;
          border-bottom: solid #dad9d3 1px;

          @media (min-width: 768) {
            font-size: 22px;
          }
        }
        a {
          text-decoration: none;
          color: #191919;
          display: block;
          text-align: right;

          @media (min-width: 1400px) {
            padding: 15px;
          }

          i {
            @media (min-width: 1400px) {
              margin-left: 3px;
            }
          }
        }
      }
    }
    .centerButton {
      margin-top: 45px;
      margin-bottom: 90px;
    }
  }
}

.meetOurTeamSection{
  background-color: #f9d783;
  padding-bottom: 50px;
  @media(min-width: 992px) {
    padding-top: 120px;
    padding-bottom: 90px;
  }
  .container{
    .meetOurTeam{
      .sectionTitleWithButton {
        display: flex;
        flex-direction: column;

        @media(min-width: 992px) {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }
        
        .sectionTitle {
          display: flex;
          align-items: center;

          @media(min-width: 992px) {
            padding-left: 60px;
            align-items: start;
          }
        }
        .btn {
          margin-bottom: 20px;

          @media(min-width: 992px) {
            margin-right: 25px;
            margin-top: 55px;
          }
          @media(min-width: 1400px) {
            margin-right: 25px; 
          }
        }
      }

      .team {
        .cards {
          @media(min-width: 992px) {
              display: flex;
              margin-left: 60px;
          }

          .card {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;
            background-color: #f9d783;
            border: none;

            @media(min-width: 992px) {
              align-items: start;
              margin-right: 30px;
            }

            img {
              width: 60%;

              @media(min-width: 769px) {
                width: 50%;
              }

              @media(min-width: 992px) {
                width: 100%;
              }
            }
            
            h3{
              font-weight: 700;

              @media(min-width: 992px) {
                font-size: 20px;
              }
              @media(min-width: 1400px) {
                font-size: 22px;
              }
            }

            p {
              @media(min-width: 992px) {
                font-size: 14px;
              }
              @media(min-width: 1400px) {
                font-size: 16px;
              }
            }
          }
        }
      }
      .dots {
        display: flex;
        justify-content: center;
        .dot {
          font-size: 70px;
          color: RGBA(25, 25, 25, 0.4);
          margin-left: 5px;
          margin-bottom: 20px;
        }
        .blackDot {
          color: #191919;
        }
      }

      .whatOurClientSaysSection {
        background: #FFF;

        @media(min-width: 992px) {
          width: 960px;
          height: 800px;
        }
        @media(min-width: 1200px) {
          width: 1130px;
        }
        @media(min-width: 1400px) {
          width: 1320px;
        }

        .sectionTitle{
          p {
            @media(min-width: 992px) {
              margin-top: 50px;
            }
          }
        }

        .reviews {
          display: flex;
          flex-direction: column;
          justify-content: center;

          @media(min-width: 992px) {
            display: flex;
            flex-direction: row;
            margin-right: 50px;
            margin-left: 30px;
          }

          .review {
            margin-bottom: 20px;
            justify-content: center;
            text-align: center;
            align-items: center;
            padding: 20px;

            @media(min-width: 992px) {
              margin: 0;
              margin: 20px;
              text-align: left;
            }

            .stars {
              i {
                margin-bottom: 20px;
                color: #f94d1c;
              }
            }
            // User Reviews container
            .user {
              display: flex;
              justify-content: center;
              margin-bottom: 30px;

              @media(min-width: 992px) {
                justify-content: start;
                align-items: center;
              }
              img {
                @media(min-width: 992px) {
                  width: 80%;
                }
              }
              h3 {
                margin:0;
                font-weight: 700;
                @media(min-width: 992px) {
                  font-size: 18px;
                  margin: 0;
                }
                @media(min-width: 1200px) {
                  font-size: 20px;
                }
                @media(min-width: 1400px) {
                  font-size: 22px;
                }
              }
              p {
                color: #F94D1C;
                @media(min-width: 992px) {
                  font-size: 12px;
                  margin: 0;
                }
                @media(min-width: 1200px) {
                  font-size: 12px;
                }
                @media(min-width: 1400px) {
                  font-size: 14px;
                }
              }
            }
          }
        }
        .centerButton {
          margin-top: 40px;
          padding-bottom: 40px;
        }
      }
    }
  }
}

.articleAndNewsSection{
  .container{
    .articleAndNews{
      .sectionTitle{
        p{

        }
        h2{

        }
        .btn {
          .transparentButton{

          }
        }
      }
      .articles {
        // border: solid red 1px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;

        @media(min-width: 992px) {
          flex-direction: row;
          text-align: left;
          justify-content: center;
          align-items: center;
        }
        .article {

          border: solid blue 1px;
          margin-bottom: 20px;

          @media(min-width: 992px) {
            margin: 20px;
          }

          .imgContainer {
            position: relative;
            width: 100%;
            img {
              width: 100%;
              z-index: -1;

              @media(min-width: 992px) {
                
              }
            }
            p{            
              text-align: center;
              padding: 0;
              margin: 0;
              // border: solid red 1px;
              width: 15%;
              position: absolute;
              top: 10px;
              left: 10px;
              z-index: 0;
              background: #f9d783;

              span {
                font-family: "DM Sans", sasns-serif;
                font-weight: 800;
              }
              
            }
          }
          .articleText {
            padding: 10px;
            @media(min-width: 992px) {
              // padding: 20px;
            }
            .header {
              color: #6A6C71;
              @media(min-width: 992px) {
                font-size: 14px;
              }
            }
            h3 {
              font-weight: 700;
              @media(min-width: 992px) {
                font-size: 20px;
              }
              @media(min-width: 1200px) {
                font-size: 22px;
              }
            }

            p{
              color: #6A6C71;

              @media(min-width: 992px) {
                font-size: 14px;
              }
            }
          }
        }
      }
      .dots {
        display: flex;
        justify-content: center;
        .dot {
          font-size: 70px;
          color: RGBA(25, 25, 25, 0.4);
          margin-left: 5px;
          margin-bottom: 20px;
        }
        .blackDot {
          color: #191919;
        }
      }
    }
  }
}